
  @{
    Layout = "LoginAdmin";
}
  <section class="contact">
            <h2>Comentario</h2>
            <div class="contact-itens">
                <form action="/Comentario/Comentar" method="POST">
                    <textarea name="Comentario"cols="30" rows="10" maxlength="700" placeholder="Digite seu comentario..." ></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <!-- Fim div contact itens -->
        </section>