  @{
    Layout = "MasterPageGeral";
}
  <section class="contact">
            <h2>Comentario</h2>
            <div class="contact-itens">
                <form action="#">
					<h3 class= "Msg"> Você deve estar logado para comentar!</h3> <a href="/Usuario/Login">Logar</a></p>
                    <textarea id=""  cols="30" rows="10" maxlength="700" placeholder="Digite seu comentario..." ></textarea>
                    <input type="button" value="Enviar">
                </form>
            </div>
            <!-- Fim div contact itens -->
        </section>