@using Senai.Aulas.ProjetoFinal.Models;
@{
    Layout= "MasterPageGeral";;
}
<div class="barra-separacao"></div>
<div class="Comentario">

<h2 class="titulo-Comentario">Comentarios</h2>
        <table>
    <tbody>
        
@foreach (ComentarioModel Comentario in ViewData["Comentarios"]  as List<ComentarioModel>)
        {
            if(Comentario.Aprovado){
            <tr>
                <td class="nomeUser">
                    @Comentario.Nome
                </td>
                <td class="comentarioUser">
                    @Comentario.Comentario
                </td>
                <td class="dataUser">
                    @Comentario.DataComentario
                </td>
</tr>
                
            }
                 }
    </tbody>
</table>
</div>

