@using Senai.Aulas.ProjetoFinal.Models;
@{
    Layout = "Admin";
}

<h3 class="Top-list">Gerenciamento de Comentarios</h3>


<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Data</th>
            <th>Nome</th>
            <th>Comentario</th>
            <th>Aprovado </th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
     @foreach(ComentarioModel Comentario in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr>
                <td>@Comentario.DataComentario</td>
                <td>@Comentario.Nome</td>
                <td>@Comentario.Comentario</td>
                <td>@Comentario.Aprovado</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/Comentario/Editar?id=@Comentario.ID"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                <a href="/Comentario/Excluir?id=@Comentario.ID" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
        }
           
    </table>
    </div>
</div>