@{
    Layout = "MasterPageGeral";
}

<div class="banner">
            <div class="banner-text">
                <h2>Carfel Website</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores expedita vel veniam, quaerat a quo reprehenderit
                    vero laborum iste impedit, illum fugiat ea voluptatum. In impedit voluptatem consequatur mollitia nisi.</p>
            </div>
            <!-- Fim div baner-text -->
        </div>
        <!-- fim div banner  -->
        <section class="cont-principal">
            <h2>Mais loko que o batiman</h2>
            <div class="cont-principal-itens">
                <article class="cont-principal-item">
                    <h3>Mobile</h3>
                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores expedita vel veniam, quaerat a quo
                        reprehenderit vero </P>
                </article>
                <article class="cont-principal-item">
                    <h3>Mobile</h3>
                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores expedita vel veniam, quaerat a quo
                        reprehenderit vero </P>
                </article>
                <article class="cont-principal-item">
                    <h3>Mobile</h3>
                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores expedita vel veniam, quaerat a quo
                        reprehenderit vero </P>
                </article>
            </div>
        </section>
        <section class="contact">
            <h2>Contato</h2>
            <div class="contact-itens">
                <form action="#">
					<h3 class= "Msg"> Você deve estar logado para comentar!</h3> <a href="/Usuario/Login">Logar</a></p>
                    <textarea id=""  cols="30" rows="10" maxlength="0" placeholder="Digite seu comentario..." ></textarea>
                    <input type="button" value="Enviar">
                </form>
            </div>
            <!-- Fim div contact itens -->
        </section>