.Admin{
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
    color: red;
}
.AdminSobre{
font-size: 1em;
color: black;
text-align: center;
}
.Top-list{
    text-align: center;
    font-size: 2em;
}