@{
Layout= "LoginAdmin";
}

@ViewBag.Mensagem

<div class="login-page">
    <div class="form">
        <form class="register-form" action="/Usuario/Cadastro" method="POST">
            <input type="text" placeholder="Nome" name="nome" />
            <input type="text" placeholder="Endereço de email" name="email" />
            <input type="password" placeholder="Senha" name="senha" />
            <input type="datetime" placeholder="Data Nascimento (DD/MM/AAAA) " name="dataNascimento">
            <button type="submit">Cadastrar</button>
            <p class="message">Já registrado? <a href="#">Logar</a></p>
        </form>
        <form class="login-form" action="/Usuario/Login" method="POST">
            <input type="text" placeholder="username" />
            <input type="password" placeholder="password" />
            <button type="submit">Logar</button>
            <p class="message">Ainda não registrado? <a href="#">Cadastrar</a></p>
        </form>
    </div>
</div>